{% extends "base.html" %}

{% block title %}Add Class{% endblock %}

{% block content %}
<h2>Add Class</h2>
<form method="POST" action="{{ url_for('add_class') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.course_code.label }}<br>
        {{ form.course_code(size=32) }}<br>
    </p>
    <p>
        {{ form.start_time.label }}<br>
        {{ form.start_time() }}<br>
    </p>
    <p>
        {{ form.end_time.label }}<br>
        {{ form.end_time() }}<br>
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=32) }}<br>
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
