{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
    </p>
    <p>
        {{ form.confirm.label }}<br>
        {{ form.confirm(size=32) }}<br>
    </p>
    <p>{{ form.is_lecturer() }} {{ form.is_lecturer.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
<p><a href="{{ url_for('login') }}">Login</a></p>
{% endblock %}
